.root{
    -fx-background-color: #113660;
}

.button{
	-fx-background-color: transparent;
	-fx-min-height: 50px;
    -fx-min-width: 43px;	
	-fx-border-color: edf2f7;
	-fx-border-radius: 30;
	-fx-text-fill: edf2f7;
 	-fx-border-width: 3;
	-fx-font-size: 18;
	-fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.1) , 5, 0.0 , 0 , 1 );
}

.button:hover{
	-fx-background-color: edf2f7;	
	-fx-font-weight: bold;
	-fx-border-radius: 30;
	-fx-background-radius: 30;
	-fx-text-fill: #113660;
}

#deleteBtn{
	-fx-border-width: 3;
	-fx-border-color: transparent;
	-fx-min-height: 50px;
    -fx-min-width: 50px;
	-fx-background-size: 50px 50px;
	-fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url(../images/dark/delete_icon.png);
}

#deleteBtn:hover{
	-fx-background-image: url(../images/dark/delete_hover_icon.png);
}

#exitBtn{
	-fx-background-color: transparent;
	-fx-border-radius: 30;
	-fx-border-width: 3;
	-fx-border-color: edf2f7;
	-fx-text-fill: edf2f7;
}

#exitBtn:hover{
	-fx-background-color: edf2f7;	
	-fx-background-radius: 30;
	-fx-border-width: 3;
	-fx-text-fill: #113660;
}

#buttonsBox{
	-fx-spacing: 5;
}

.text-field{
	-fx-padding: 5px;
	-fx-pref-width: 100px;
   	-fx-pref-height: 100px;
	-fx-alignment: center;
    -fx-background-color: edf2f7;
	-fx-font-size: 15;	
	-fx-font-weight: bold;
	-fx-border-color:white;
	-fx-text-fill: #3c87dd;
 	-fx-border-width: 1;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.1) , 5, 0.0 , 0 , 1 );
}

.text-field:focused{
	-fx-background-color: #FAFAD2;
	-fx-border-color: #1bb11b;
	-fx-border-width: 2;
	-fx-text-fill: #3c87dd;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.1) , 5, 0.0 , 0 , 1 );
}

.text-field:error{
	-fx-text-fill: #ff0000;
}

.text-field:error:focused{
	-fx-text-fill: #ff0000;
}

.text-field:right{
	-fx-background-color: #b9ccdf;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.1) , 5, 0.0 , 0 , 1 );
}

.text-field:bottom{
	-fx-background-color: #b9ccdf;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.1) , 5, 0.0 , 0 , 1 );
}

.text-field:right:bottom{
	-fx-background-color: #b9ccdf;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.1) , 5, 0.0 , 0 , 1 );
}


.text-field:right:focused{
	-fx-background-color: #FAFAD2;
}

.text-field:bottom:focused{
	-fx-background-color: #FAFAD2;
}

.text-field:right:bottom:focused{
	-fx-background-color: #FAFAD2;
}

.text-field#initial{
	-fx-text-fill: #113660;
}

.text-field:focused:samevalue{
	-fx-text-fill: #113660;
}

.text-field:samevalue{
	-fx-background-color:#113660;
	-fx-text-fill: #3c87dd;
}

.text-field:samevalue:focused{
	-fx-background-color: #FAFAD2;
	-fx-text-fill: #3c87dd;
}

.text-field#initial:samevalue{
	-fx-background-color:#113660;
	-fx-text-fill: #FAFAD2;
}
.text-field:error:samevalue{
	-fx-background-color:#113660;
	-fx-text-fill: #ff0000;
}

.text-field#initial:samevalue:focused{
	-fx-background-color:#113660;
	-fx-text-fill: #FAFAD2;
}
.text-field:error:samevalue:focused{
	-fx-background-color:#FAFAD2;
	-fx-text-fill: #ff0000;
}

.text-field:highlight{
	-fx-background-color:#FAFAD2;
}


